user
emacs-24.3
*.elc
*.pyc
elpa
melpa
sandbox*
*.bbl
*.blg
*.pyg
*.tex
*.aux
*.lof
*.lot
*.log
*.spl
*.bib
*.pdf
ltxpng
/org-mode-bleeding-edge/
devel
.DS_Store
bibtex-utils/.hg*
/.projectile
examples/cmu*
themes
