*.elc
*.pyc
elpa
sandbox*
auto-save-list
ac-comphist.dat
abbrev_defs
.ispell
org-mode
saved-places
.smex-items
bbdb
*user*
user/News
/user/ido.hist
/bookmarks
/user/newsrc
/user/newsrc.eld
/user/xkcd
/examples/achemso/I&ECR/manuscript.bbl
/examples/achemso/I&ECR/manuscript.blg
/examples/achemso/aamick/acs-manuscript.bib
/examples/achemso/aamick/manuscript.bbl
/examples/achemso/aamick/manuscript.blg
/examples/achemso/accacs/acs-manuscript.bib
/examples/achemso/accacs/manuscript.bbl
/examples/achemso/accacs/manuscript.blg
/examples/cmu-ms-report/project-report.bbl
/examples/cmu-ms-report/project-report.blg
/examples/cmu-ms-report/project-report.pyg
/examples/cmu-ms-report/project-report.tex
/examples/technical-documents-in-org.bbl
/examples/technical-documents-in-org.blg
*.bbl
*.blg
*Notes.bib
*.pyg
*.tex
*.aux