*.elc
*.pyc
elpa
sandbox*
auto-save-list
ac-comphist.dat
abbrev_defs
.ispell
org-mode
saved-places
.smex-items
bbdb
*user*
user/News
/user/ido.hist
/bookmarks
/user/newsrc
/user/newsrc.eld
/user/xkcd
/examples/achemso/I&ECR/manuscript.bbl
/examples/achemso/I&ECR/manuscript.blg
/examples/achemso/aamick/acs-manuscript.bib
/examples/achemso/aamick/manuscript.bbl
/examples/achemso/aamick/manuscript.blg
/examples/achemso/accacs/acs-manuscript.bib
/examples/achemso/accacs/manuscript.bbl
/examples/achemso/accacs/manuscript.blg
/examples/cmu-ms-report/project-report.bbl
/examples/cmu-ms-report/project-report.blg
/examples/cmu-ms-report/project-report.pyg
/examples/cmu-ms-report/project-report.tex
/examples/technical-documents-in-org.bbl
/examples/technical-documents-in-org.blg
*.bbl
*.blg
*Notes.bib
*.pyg
*.tex
*.aux
*.lof
*.lot
org-ref.el
*.log
*.spl
/examples/achemso/aamick/manuscript.pdf
/examples/achemso/accacs/manuscript.pdf
/examples/cmu-phd-dissertation/archive
/examples/ltxpng
/examples/acs-test-cite.bib
/examples/cmu-ms-report/project-report.pdf
/examples/cmu-qualifier/cmu-qualifier.pdf
/examples/elsarticle/manuscript.pdf
/examples/revtex4-1/PRB/manuscript.pdf
/examples/svjour3/manuscript.pdf
/examples/technical-documents-in-org.pdf
/examples/test-cite.pdf
/org-mode-off/
/runemacs - Shortcut.lnk
/examples/revtex4-1/PRL/manuscript.pdf
/examples/cmu-memo/memo.pdf
/examples/cmu-letter/test-letter.pdf
/examples/cmu-phd-dissertation/dissertation.pdf
/examples/cmu-memo/samplememo.pdf
/doi-utils.el
emacs-24.4
ltxpng
/org-show.el
/emacs-ipython-notebook/
themes
/org-mode-bleeding-edge/
/English
/org/*.el
/org/upload_bibtex_citeulike.py
TAGS
Pymacs
examples/cmu-letter
examples/cmu-memo
devel
.DS_Store
bibtex-utils/.hg*